body {
    background: skyblue
}

.cat_title{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.cats{
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-right: 88%;
}

nav{
    margin-bottom: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
}