{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width = device-width, initial-scale=1.0" />
    <title>My Cats</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <nav><a href="{% url 'home' %}">My fatass lazy children</a></nav>
    <main>
      {% block content %}
      <ul>
        {% for cat in cats.keys %}
        <li class="cats"><a href="{% url 'catDetails' cat %}">{{cat}}</a></li>
        {% endfor %}
      </ul>

      {% endblock content %}
    </main>
  </body>
</html>